@model DonationDetailDTO

@{
    ViewData["Title"] = "Подробности";
    var role = ViewData["role"] as String;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробности потребности</h1>

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-md-6">
                            <b>@Html.DisplayNameFor(model => model.Types)</b>
                            @foreach (var t in @Model.Types)
                            {
                                @t.Name
                            }
                            <p>
                                <b>@Html.DisplayNameFor(model => model.ItemName):</b>
                                @Html.DisplayFor(model => model.ItemName)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.ItemDescription):</b>
                                @Html.DisplayFor(model => model.ItemDescription)
                            <p>
                                <h5>@Html.DisplayNameFor(model => model.OrphanageName)</h5>
                                <b>@Html.DisplayNameFor(model => model.OrphanageName)</b>
                                @Html.DisplayFor(model => model.OrphanageName)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.City)</b>
                                @Html.DisplayFor(model => model.City)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Street)</b>
                                @Html.DisplayFor(model => model.Street)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.House)</b>
                                @Html.DisplayFor(model => model.House)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Rating)</b>
                                @Html.DisplayFor(model => model.Rating) <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @if (role == "Representative" || role == "Admin")
    {
        <a asp-action="Edit" asp-route-id="@Model.ID" type="submit" class="btn btn-warning">Редактировать</a>
    }

    <a asp-action="Index" type="submit" class="btn btn-info">Вернуться к списку</a>

    @if (role == "CharityMaker")
    {
        <form asp-action="Donate">
            <br /><br />
            <input type="hidden" asp-for="ID" />
            <a asp-action="Donate" class="btn btn-primary">Пожертвовать</a>
        </form>
    }
</div>