@model FamilyNet.Models.Donation

@{
    ViewData["Title"] = "Подробности";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробности потребности</h1>

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-md-6">
                            <b>@Html.DisplayNameFor(model => model.DonationItem.Name):</b>
                            @Html.DisplayFor(model => model.DonationItem.Name)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.DonationItem.Description):</b>
                                @Html.DisplayFor(model => model.DonationItem.Description)
                            <p>
                                <h5>@Html.DisplayNameFor(model => model.Orphanage)</h5>
                                <b>@Html.DisplayNameFor(model => model.Orphanage.Name)</b>
                                @Html.DisplayFor(model => model.Orphanage.Name)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Orphanage.Adress.City)</b>
                                @Html.DisplayFor(model =>  model.Orphanage.Adress.City)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Orphanage.Adress.Street)</b>
                                @Html.DisplayFor(model => model.Orphanage.Adress.Street)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Orphanage.Adress.House)</b>
                                @Html.DisplayFor(model => model.Orphanage.Adress.House)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Orphanage.Rating)</b>
                                @Html.DisplayFor(model => model.Orphanage.Rating) <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" type="submit" class="btn btn-warning"> <i class="fas fa-edit"></i>Редактировать</a> |
    <a asp-action="Index" type="submit" class="btn btn-info">Вернуться к списку</a>
</div>
