@model IEnumerable<FamilyNet.Models.Donation>

@{
    ViewData["Title"] = "Нужды";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-5">
        <h1>Перелік потреб</h1>
    </div>
    <div class="col-md-3">
        <a asp-action="CreateDonation" class="btn btn-primary float-right">+ Потреба</a>
    </div>
    <div class="col-md-3">
        <a asp-action="CategoriesTable" class="btn btn-primary float-right">Категорії</a>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orphanage.Adress.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orphanage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationItem.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationItem.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationItem.TypeBaseItem)
            </th>
            <th>
                Дії
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Orphanage.Adress.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orphanage.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationItem.Description)
            </td>
            <td>
                @if (item.DonationItem != null && item.DonationItem.TypeBaseItem != null)
                {
                    @foreach (var t in item.DonationItem.TypeBaseItem)
                    {
                        if (t.Type != null)
                        {
                            @t.Type.Name
                        }

                    }
                }
            </td> 
            <td>
                <a asp-action="EditDonation" asp-route-id="@item.ID"><i class="far fa-edit fa-fw"></i></a>
                <a asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-info fa-fw"></i></a>
                <a asp-action="DeleteDonation" asp-route-id="@item.ID"><i class="far fa-trash-alt fa-fw"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
