@model IEnumerable<DonationDTO>

@{
    ViewData["Title"] = "Нужды";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-5">
        <h1>Список потребностей</h1>
    </div>
    <div class="col-md-3">
        <a asp-action="Create" class="btn btn-primary float-right">+ Потребность</a>
    </div>
    <div class="col-md-3">
        <a asp-controller="Categories" asp-action="Index" class="btn btn-primary float-right">Категории</a>
    </div>
</div>

<form asp-action="Index">
    <table class="table">
        <th>
            @Html.TextBox("forSearch", "", new { @class = "form-control" })
        </th>

        <th width="12%">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-filter"></i>
            </button>
            @Html.ActionLink("", "Index", "Donations", null, new { @class = "fas fa-ban" })
        </th>
    </table>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrphanageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDateWhenStatusChanged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Types)
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrphanageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastDateWhenStatusChanged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                @*<td>
                    @if (item.DonationItemID != null && item.Types != null)
                    {
                        @foreach (var t in ViewBag.categoriesList)
                        {
                            @t.Type.Name
                            <br />
                        }
                    }
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID"><i class="far fa-edit fa-fw"></i></a>
                    <a asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-info fa-fw"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ID"><i class="far fa-trash-alt fa-fw"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>