@model FamilyNet.Models.ViewModels.AuctionLotAllViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var role = ViewData["role"] as String;
    string name = Model.FilterViewModel.SelectedName;
    string sort = Model.Sort == null? String.Empty : Model.Sort;
    string start = Model.FilterViewModel.StartPrice;
    string end = Model.FilterViewModel.EndPrice;
}

<h1>
    Fair
</h1>
<div style="margin-bottom:2%; border: none;">
<form method="get" >
    <table class="table" style="margin-bottom:2%; border: none;">
        <tr class="table-info">
            <th>Name</th>
            <th>Price from</th>
            <th>Price to</th>
            <th>Sort</th>
         </tr>
        <tbody>
            <tr>
                <td><input asp-for="@name" /></td>
                <td><input asp-for="@start" /></td>
                <td><input asp-for="@end" /></td>
                <td>
                    <select asp-for="@sort">
                        <option></option>
                        <option>NameAsc</option>
                        <option>NameDesc</option>
                        <option>PriceAsc</option>
                        <option>PriceDesc</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="submit" value="Filter out" class="btn btn-primary"
                           asp-route-name="@name" asp-route-sort="@sort"
                           asp-route-start="@start" asp-route-end="@end" style="float:right" />
                </td>
            </tr>
        </tbody>
    </table>
</form>

</div>
<div>


@foreach (var lot in Model.AuctionLots)
{

    <div class="card m-3" style="width: 18rem; border: none;">
        <div class="card-body" >
            <img src="@Url.Content(lot.Avatar)" class="card-img-top" alt="...">
                <h5 class="card-title">@lot.AuctionLotItem.Name</h5>
                <p class="card-text">@lot.AuctionLotItem.Description</p>
                <a asp-action="Details" asp-controller="AuctionLot" asp-route-id="@lot.ID" class="btn btn-primary">More details</a>
                @if (role == "CharityMaker" || role == "Volunteer")
                {
                    <a class="btn btn-dark" asp-area="" asp-controller="Purchase" asp-action="Buy" asp-route-id="@lot.ID">Buy</a>
                }
            </div>
        </div>

}
        
    </div>


@for (int mypage = 1; mypage <= Model.PageViewModel.TotalPages; mypage++)
{
    <a asp-action="All"
       asp-route-page="@mypage"
       asp-route-name="@name"
       asp-route-start="@start"
       asp-route-sort="@sort"
       asp-route-finish="@end"
       class="btn btn-default btn">
        @mypage
    </a>
}