@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a asp-controller="Orphanages" asp-action="SearchByTypeHelp">
                <img class="d-block w-100" src="~/images/11.jpg" alt="First slide">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h3>@ViewData["FirstSlideComment"]</h3>
                <p>@ViewData["Description1"]</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
                <h3>@ViewData["SecondSlideComment"]</h3>
                <p>@ViewData["Description2"]</p>
            </div>
            <img class="d-block w-100" src="~/images/22.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <a asp-area="" asp-controller="Orphanages" asp-action="SearchOrphanageOnMap">
                <img class="d-block w-100" src="~/images/33.jpg" alt="Third slide">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h3>@ViewData["ThirdSlideComment"]</h3>
                <p>@ViewData["Description3"]</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div>
    <p>
    </p>
</div>



@*<partial name="~/Views/Orphanages/BestOfThree.cshtml" />*@
@await Html.PartialAsync("BestOfThree", ViewData["Best"]);



<script>
    $(".albery-container").albery();
    $(".albery-container").albery({
        speed: 500, // default: 200
        imgWidth: 200, // default: 600
    });
    $(".albery-container").albery({
        paginationBorder: 5,
        paginationItemWidth: 120
    });
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    });
</script>