@model IEnumerable<FamilyNet.Models.Orphanage>

<div class="align-content-lg-center" style="padding-top:100px; padding-bottom:100px">
    <div class="card-group">
        @foreach (var bestofthree in Model)
        {
            <div class="card">
                <button type="button" data-toggle="modal" data-target="#@bestofthree.ID">
                    <img src="~/images/lg-2.jpg" class="img-responsive" alt="">
                </button>
                <div class="card-body">
                    <h5 class="card-title">@bestofthree.Name</h5>
                    <p class="card-text">@bestofthree.Rating</p>
                </div>
            </div>
        }

    </div>
</div>

@foreach (var bestofthree in Model)
{
    <div class="modal fade" id="@bestofthree.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="img-thumbnail">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <img src="~/images/lg-2.jpg" class="img-responsive" alt="">
                </div>
                <div class="modal-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title">Дом: @bestofthree.Name</h5>
                            <p class="card-text">Адрес @bestofthree.Adress.Country @bestofthree.Adress.City @bestofthree.Adress.Region @bestofthree.Adress.Street @bestofthree.Adress.House</p>
                        </div>
                        <div class="col-md-6 text-center">
                            <button type="button" style="margin-top:5%" class="btn btn-primary">Отозваться</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}