@model FamilyNet.Models.ViewModels.ScheduleViewModel

@{
    ViewData["Title"] = "Index";
}

<table class="table table-sm table-striped table-bordered">
    <tr>
        <th>&nbsp;</th>
        @foreach (var day in Model.Days)
        {
            <th class="text-center">@day</th>
        }
    </tr>
    @{
        var style = string.Empty;
        @foreach (var kv in Model.Sorted)
        {
            <tr>
                <td>@kv.Key</td>

                @foreach (var day in Model.Days)
                {
                    var note = kv.Value.FirstOrDefault(a => a.DayOfWeek == day);
                    @if (note != null)
                    {
                        <td class="table-success">
                            <div class="btn-group btn-group" group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Редактировать
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a asp-route-id="@note.ID" asp-action="Edit" class="dropdown-item">Другое время</a>
                                    <form asp-action="Delete" method="post"
                                          asp-route-id="@note.ID">
                                        <input type="hidden" name="ID" value="@note.ID" />
                                        <button type="submit" class="dropdown-item">
                                           Отменить
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    }
                    else { 
                    <td></td>
                    }
                }
            </tr>
        }
    }
  
</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Добавить запись</a>
</div>