@model FamilyNet.Models.ViewModels.Purchase.PurchaseAllViewModel
@{ 
    ViewData["Title"] = "MyPurchases";
}
@{
    var role = ViewData["roles"] as String;
    var email = Model.FilterViewModel.Email == null? String.Empty : Model.FilterViewModel.Email;
    var sort = Model.Sort == null? String.Empty : Model.Sort;  
    var craft = Model.FilterViewModel.CraftName == null? String.Empty : Model.FilterViewModel.CraftName;
    var date = DateTime.MinValue;
}

@if (role == "Admin")
{
    <h1>Purchases</h1>
}
else
{
    <h1>My Purchases</h1>
}
<form method="get">
    @if (role == "Admin")
    {
        <label>Search by user email:</label>
        <input asp-for="@email" class="form-control input-lg" />
        <br />
    }
    <table class="table table-bordered" >
        <tr class="table" style="background: linear-gradient(0.25turn, #3f87a6, olive, #f69d3c); color: white;">
            <th>Craft name</th>
            <th>Date</th>
            <th>Sort</th>
        </tr>
        <tbody>
            <tr>
                <td><input asp-for="@craft" /></td>
                <td><input type="date" asp-for="@date" /></td>
                <td>
                    <select asp-for="@sort">
                        <option></option>
                        <option>DateAsc</option>
                        <option>DateDesc</option>
                        <option>QuantityAsc</option>
                        <option>QuantityDesc</option>
                        <option>PaidAsc</option>
                        <option>PaidDesc</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Filter out" class="btn btn-primary"
           asp-route-email="@email" asp-route-sort="@sort"
           asp-route-craft="@craft" asp-route-date="@date" 
           style="float:right; margin-bottom: 2%" />
</form>



<table class="table table-hover center">
    <thead class="thead-light">
        <tr>
            @if (role == "Admin")
            {
                <th>Email</th>
            }
            <th>Craft name</th>
            <th>Quantity</th>
            <th>Paid</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var buy in Model.PurchaseDTO)
        {
            <tr>
                @if (role == "Admin")
                {
                    <td> @Html.DisplayFor(modelItem => buy.UserEmail)</td>
                }
                <td>
                    <a asp-controller="AuctionLot" asp-action="Details" asp-route-id="@buy.AuctionLotId"> @Html.DisplayFor(modelItem => buy.ItemName) </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => buy.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => buy.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => buy.Date),
                </td>
            </tr>
        }

    </tbody>
</table>

<ul class="pagination" style="margin-top: 2%;">
    @for (int mypage = 1; mypage <= Model.PageViewModel.TotalPages; mypage++)
    {
        if (mypage == Model.PageViewModel.PageNumber)
        {
            <li class="page-item active">
                <a asp-action="All"
                   asp-route-email="@email" asp-route-sort="@sort"
                   asp-route-craft="@craft" asp-route-date="@date" 
                   asp-route-mypage="@mypage"
                   class="page-link">
                    @mypage
                </a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a asp-action="All"
                   asp-route-email="@email" asp-route-sort="@sort"
                   asp-route-craft="@craft" asp-route-date="@date" 
                   asp-route-mypage="@mypage"
                   class="page-link">
                    @mypage
                </a>
            </li>
        }
    }
</ul>

