@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model FamilyNet.Models.Volunteer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Create"] @ViewData["CreateVolonteer"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["PersonName"]</label>
                <input asp-for="FullName.Name" class="form-control" />
                <span asp-validation-for="FullName.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["PersonSurname"]</label>
                <input asp-for="FullName.Surname" class="form-control" />
                <span asp-validation-for="FullName.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FathersName"]</label>
                <input asp-for="FullName.Patronymic" class="form-control" />
                <span asp-validation-for="FullName.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Country"]</label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["City"]</label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Region"]</label>
                <input asp-for="Address.Region" class="form-control" />
                <span asp-validation-for="Address.Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Street"]</label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["House"]</label>
                <input asp-for="Address.House" class="form-control" />
                <span asp-validation-for="Address.House" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@SharedLocalizer["Birthday"]</label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index"><i class="fas fa-chevron-circle-left"></i></a>
                <input type="submit" value=@SharedLocalizer["Create"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
