@model FamilyNet.Models.Volunteer

@{
    ViewData["Title"] = "Details";
}


<h1>Подробно</h1>

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">Профиль волонтера</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <b>@Html.DisplayNameFor(model => model.FullName.Name):</b>
                            @Html.DisplayFor(model => model.FullName.Name)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.FullName.Surname):</b>
                                @Html.DisplayFor(model => model.FullName.Surname)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.FullName.Patronymic):</b>
                                @Html.DisplayFor(model => model.FullName.Patronymic)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Address.Country):</b>
                                @Html.DisplayFor(model => model.Address.Country)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Address.Region)</b>
                                @Html.DisplayFor(model => model.Address.Region)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Address.City)</b>
                                @Html.DisplayFor(model => model.Address.City)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Address.Street)</b>
                                @Html.DisplayFor(model => model.Address.Street)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Address.House)</b>
                                @Html.DisplayFor(model => model.Address.House)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Birthday)</b>
                                @Html.DisplayFor(model => model.Birthday) <br>
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Rating)</b>
                                @Html.DisplayFor(model => model.Rating) <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img class="mx-auto img-fluid img-circle d-block" src="@Url.Content("~/avatars/" + Model.Avatar)" alt="">
        </div>
    </div>
</div>
<div>
    <a asp-action="Index"><i class="fas fa-chevron-circle-left"></i></a>
    <a asp-action="Edit" asp-route-id="@Model.ID"><i class="fa fa-marker fa-lg"></i></a>
</div>