@model IEnumerable<FamilyNet.Models.Volunteer>

@{
    ViewData["Title"] = "VolunteersTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-6">
        <h2 class="text-center">Список волонтеров</h2>
    </div>
    <div class="col-sm-6 text-right">
        <a asp-action="Create" class="btn btn-primary">Создать</a>
    </div>
</div>

<form asp-action="Filter">
    <table class="table">
        <th>
            @Html.Label(@Html.DisplayNameFor(model => model.FullName) + ":")
            @Html.TextBox("FullNameString", "", new { @class = "form-control" })
        </th>
        <th width="11%">
            @Html.Label(@Html.DisplayNameFor(model => model.Rating) + " от:")
            @Html.TextBox("RatingNumber", "", new { @class = "form-control", type = "number" })
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-filter"></i>
            </button>
            @Html.ActionLink("", "VolunteersTable", "Volunteers", null, new { @class = "fas fa-ban" })
        </th>

    </table>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Country)
                </td>
                <td>
                    Рейтинг
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID"><i class="far fa-edit fa-fw"></i></a>
                    <a asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-info fa-fw"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ID"><i class="far fa-trash-alt fa-fw"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
