@model IEnumerable<DataTransferObjects.QuestDTO>
@using FamilyNet.Enums

@{
    ViewData["Title"] = "Квести";
    var role = ViewData["roles"] as String;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index">
    <table class="table">
        <th>
            @Html.TextBox("forSearch", "", new { @class = "form-control" })
        </th>
        <th>
            @Html.DropDownList("status", new SelectList(new List<string>() { "ToDo", "Doing", "Done" }), new { @class = "form-control" })
        </th>
        <th width="12%">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-filter"></i>
            </button>
            @Html.ActionLink("", "Index", "Quests", null, new { @class = "fas fa-ban" })
        </th>
    </table>
</form>

<div class="row">
    <div class="col-md-5">
        <h1>Список квестів</h1>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Назва дитячого будинку
            </th>
            <th>
                Опис
            </th>
            <th>
                Дії
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink(item.OrphanageName, "Details", "Orphanages",
                                  new { id = item.OrphanageID }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="far fa-edit fa-fw"></i></a>
                <a asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-info fa-fw"></i></a>
                <a asp-action="Delete" asp-route-id="@item.ID"><i class="far fa-trash-alt fa-fw"></i></a>

                @if (role == "Volunteer" && item.Status == "ToDo")
                {
                    <a asp-action="Take" asp-route-id="@item.ID" class=.btn-info><i>Виконати</i></a>
                }

                @if (role == "Representative" && item.Status == "Doing")
                {
                    <a asp-action="MarkAsDone" asp-route-id="@item.ID" class=.btn-info><i>Виконано</i></a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>