@model DataTransferObjects.RepresentativeDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы уверены что хотите удалить предстаивтеля?</h3>
<div>
    <h4>Представитель детдома</h4>
    <hr />
    <div class="col-sm-3">
            <img src="@Url.Content(Model.PhotoPath)" style="height: 300px; width: 100%; display: block;" alt="avatar">
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChildrenHouseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orphanage.Name)
        </dd>*@
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Вернуться обратно</a>
    </form>
</div>
