@model FamilyNet.Models.Representative

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">Представитель детдома</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>@Html.DisplayNameFor(model => model.FullName)</h6>
                            <p>
                                @Html.DisplayFor(model => model.FullName.Surname)
                                @Html.DisplayFor(model => model.FullName.Name)
                                @Html.DisplayFor(model => model.FullName.Patronymic)
                            </p>
                            <h6>@Html.DisplayNameFor(model => model.Birthday)</h6>
                            <p>
                                @Html.DisplayFor(model => model.Birthday)
                            </p>
                            <h6>@Html.DisplayNameFor(model => model.Rating)</h6>
                            <p>
                                @Html.DisplayFor(model => model.Rating)
                            </p>
                            <h6>@Html.DisplayNameFor(model => model.Orphanage)</h6>
                            <p>
                                @Html.DisplayFor(model => model.Orphanage.Name)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="@Url.Content("~/representatives/" + Model.Avatar)" )" style="height: 300px; width: 100%; display: block;" alt="avatar">
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
            </label>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ID">Редактировать</a>
    <a asp-action="Index" class="btn btn-primary">Вернуться обратно</a>
</div>
