@model FamilyNet.Models.CharityMaker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CharityMaker</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Birthday)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Birthday)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FullName.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FullName.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FullName.Surname)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FullName.Surname)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FullName.Patronymic);
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FullName.Patronymic)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Address.Country)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address.Country)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Address.Region)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address.Region)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Address.City)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address.City)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Address.Street)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address.Street)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Address.House)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address.House)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Rating)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Rating)
		</dd>
	</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
