@using Microsoft.AspNetCore.Mvc.Localization
@model FamilyNet.Models.Orphanage
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @ViewData["Details"]
    @if (User.IsInRole("CharityMaker") || User.IsInRole("Admin"))
    {
        <a asp-controller="Donations" asp-action="CreateDonation" class="btn btn-primary float-right">Создать Потребноть</a>
    }
</h1>

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">@ViewData["Profile"]</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <b>@Html.DisplayNameFor(model => model.Name):</b>
                            @Html.DisplayFor(model => model.Name)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Adress.Country):</b>
                                @Html.DisplayFor(model => model.Adress.Country)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Adress.Region)</b>
                                @Html.DisplayFor(model => model.Adress.Region)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Adress.City)</b>
                                @Html.DisplayFor(model => model.Adress.City)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Adress.Street)</b>
                                @Html.DisplayFor(model => model.Adress.Street)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Adress.House)</b>
                                @Html.DisplayFor(model => model.Adress.House)
                            <p>
                                <b>@Html.DisplayNameFor(model => model.Rating)</b>
                                @Html.DisplayFor(model => model.Rating) <br>
                            <p>
                                @if (Model.Donations.Count != 0)
                                {
                                    <b>@Html.DisplayNameFor(model => model.Donations)</b> <br />
                                    @foreach (var donation in Model.Donations)
                                    {
                                        if (donation.DonationItem.TypeBaseItem.Count != 0)
                                        {
                                            @foreach (var item in donation.DonationItem.TypeBaseItem)
                                            {
                                                if (item.Type != null)
                                                {
                                                    <b>@item.Type.Name: </b>
                                                }
                                                @item.Item.Name
                                                <a asp-controller="Donations" asp-action="Details" asp-route-id="@donation.ID">(Подробнее)</a> <br>
                                            }
                                        }
                                    }
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img class="mx-auto img-fluid img-circle d-block" src="@Url.Content("~/avatars/" + Model.Avatar)" alt="">


        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" type="submit" class="btn btn-warning"> <i class="fas fa-edit"></i>Редактировать</a> |
    <a asp-action="Index" type="submit" class="btn btn-info">@ViewData["ReturnsToList"]</a>
</div>

