@model IEnumerable<FamilyNet.Models.Orphanage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orphanages list</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" ><i class="fas fa-plus"></i></a>
</p>
<table class="table center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Representatives)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                    <a class="btn btn-sm btn-secondary btn-secondary-outline navbar-btn align-self-center"
                           asp-action="Edit" asp-route-id="@item.Address.ID" >
                        <i class="fa fa-map-marked-alt"></i>Show</a>
                    @*<i class="fas fa-map-marked-alt"></i>
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Adress.Country),
                    @Html.DisplayFor(modelItem => item.Adress.Region),
                    @Html.DisplayFor(modelItem => item.Adress.City),
                    @Html.DisplayFor(modelItem => item.Adress.Street),
                    @Html.DisplayFor(modelItem => item.Adress.House)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Adress.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress.Region)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress.House)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avatar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Representatives.Count)
                    @*@foreach (var i in item.Representatives)
                        {

                        }*@
                    <a asp-action="Create" asp-route-id="@item.ID" class="btn btn-sm btn-success"><i class="fas fa-user-plus"></i></a> 
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-warning"><i class="fas fa-user-times"></i></a> 
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-info"><i class="fas fa-list-ul"></i></a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger"><i class="fas fa-minus-circle"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
