@model IEnumerable<FamilyNet.Models.Orphanage>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
     var role = ViewData["role"] as String;
}

    <h1>
        @ViewData["ListOrphanages"]

        @if (role == "Admin" || role == "Representative")
        {
            <a asp-action="Create" class="btn btn-primary float-right"><i class="fas fa-plus"></i></a>
        }
        <a asp-action="SearchOrphanageOnMap" class="btn btn-sm btn-primary">
           Show on map
        </a>
    </h1>

<form asp-action="Filter">
    <table class="table">
        <th>
            @Html.Label(@ViewData["Name"] + ":")
            @Html.TextBox("Name", "", new { @class = "form-control" })
        </th>
        <th>
            @Html.Label(@ViewData["Address"] + ":")
            @Html.TextBox("Address", "", new { @class = "form-control" })
        </th>
        <th width="11%">
            @Html.Label(@ViewData["Rating"] + " " + @ViewData["From"] + ":")
            @Html.TextBox("Rating", "", new { @class = "form-control", type = "number" })
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-filter"></i>
            </button>
            @Html.ActionLink("", "Index", "Orphanages", null, new { @class = "fas fa-ban" })
        </th>

    </table>
</form>

<table class="table table-hover center">
    <thead class="thead-light">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="NameAsc">
                    @ViewData["Name"]
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="AddressAsc">
                    @SharedLocalizer["Address"]
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="RatingAsc">
                    @ViewData["Rating"]
                </a>
            </th>
            <th>
                @SharedLocalizer["Photo"]
            </th>
            <th>
                @SharedLocalizer["Representatives"]
            </th>
            <th>
                @SharedLocalizer["Orphans"]
            </th>
            <th>
                @ViewData["Actions"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-md-auto">
                    @Html.DisplayFor(modelItem => item.Adress.Country),
                    @Html.DisplayFor(modelItem => item.Adress.Region),
                    @Html.DisplayFor(modelItem => item.Adress.City),
                    @Html.DisplayFor(modelItem => item.Adress.Street),
                    @Html.DisplayFor(modelItem => item.Adress.House)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <img class="img-responsive" src="@Url.Content(@item.Avatar)" alt="" width="50" height="50">
                </td>
                <td align="center">
                    <a asp-action="Index" asp-controller="Representatives" asp-route-id="@item.ID"
                       class="btn btn-sm btn-outline-primary">
                        @Html.DisplayFor(modelItem => item.Representatives.Count) <i class="fas fa-user-tie"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Index" asp-controller="Orphans" asp-route-id="@item.ID"
                       class="btn btn-sm btn-outline-primary">
                        @Html.DisplayFor(modelItem => item.Orphans.Count) <i class="fas fa-child"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-info">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    @if (role == "Admin" || role =="Representative")
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger">
                            <i class="fas fa-minus-circle"></i>
                        </a>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>