@model IEnumerable<DonationDetailDTO>
@{
    ViewData["Title"] = "Результаты поиска";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null || Model.Count() == 0)
{
    <form asp-controller="Orphanages" asp-action="SearchByTypeHelp">
        <p class="text-danger h5">По указаной категории  @ViewData["TypeHelp"] ничего найдено не было</p>
        <button class="btn btn-primary">Вернуться к поиску</button>
    </form>
}
else
{
    <p class="text-center h5">Указанный дом нуждается:</p>
    <table class="table center">
        <thead class="thead-light">
            <tr>
                <th>
                    Orphanage name
                </th>
                <th>
                    City
                </th>
                <th>
                    Item name
                </th>
                <th>
                    Item description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>                               
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
            </tr>
            }
        </tbody>
    </table>
}



