@model IEnumerable<FamilyNet.Models.Orphan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">  
        <h2 class="text-center">Список детей-сирот</h2>   
</div>

<div class="box">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-4">

                    <div class="card mb-4 box-shadow text-center">
                        <a asp-action="Details" asp-route-id="@item.ID" style="text-decoration:none;">                 
                            <img class="img-responsive" src="@Url.Content("~/children/" + @item.Avatar)" alt="Card image cap" width="100%" height="300px">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @Html.DisplayFor(modelItem => item.FullName.Name)
                                    @Html.DisplayFor(modelItem => item.FullName.Surname)
                                </h5>
                                <p class="card-text">
                                    @Html.DisplayFor(modelItem => item.Birthday)
                                </p>
                                <p class="card-text">
                                    @Html.DisplayFor(modelItem => item.Orphanage.Name)
                                    @Html.DisplayFor(modelItem => item.Orphanage.Adress.City)
                                </p>
                            </div>
                        </a>

                        <div class="card-body">
                            <a asp-action="Edit" asp-route-id="@item.ID"><i class="far fa-edit fa-fw"></i></a>
                            <a asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-info fa-fw"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.ID"><i class="far fa-trash-alt fa-fw"></i></a>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>
</div>



